.resultsLayout {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 24px;

    @media screen and (max-width: 600px) {
        width: 90%;
        flex-direction: column;
        margin: auto;
    }
}

.hexagramTextContainer {
    padding: 10px 24px 0 24px;
    min-width: 0;
    width: 100%;
    border-left: 1px solid var(--shadow);
    content: "";
    display: block;

    &:empty {
        border-left: none;
    }

    @media screen and (max-width: 600px) {
        padding: 8px 0 0 0;
        border-left: none;
    }
}
