.button {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--highlight);
    border: 1px solid var(--primary);
    color: var(--white);

    &:hover {
        background-color: var(--primary);
        color: var(--background);
        cursor: pointer;
    }

    &:disabled {
        border: 1px dashed black;
        background-color: var(--shadow-light);
        color: var(--shadow);
        cursor: not-allowed;
    }
}
