.historyContainer {
    line-height: 1.5;
    padding: 0;
    padding-top: 56px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../../public/bg-bw.jpg);
    background-size: cover;
    background-position: top center;

    h2 {
        color: var(--background);
        text-align: left;
    }

    p {
        text-align: justify;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.historyHeader {
    h1 {
        margin: 0;
        font-size: 6rem;
        color: var(--background);

        @media screen and (max-width: 600px) {
            font-size: 3rem;
        }
    }

    margin: 56px 0;
}

.historyContent {
    background-color: var(--background);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 24px;
    }
}

.historyItems {
    padding: 0;
    margin: 0;
    width: 100%;
}

.historyItem {
    max-width: 100%;
    margin-bottom: 10px;
    list-style-type: none;
}

.historyStats {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 8px;
        align-items: stretch;
    }
}

.historyStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 220px;

    svg {
        width: 36px;
        height: 36px;
        color: var(--background);
    }

    h2,
    p {
        margin: 0;
        padding: 0;
    }

    p {
        color: var(--background);
        text-shadow: 0px 0px 2px var(--background);
    }

    color: var(--background);
}

.historyList {
    margin: auto;
    max-width: 1080px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 48px;
}

.cardWithBackground {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../../../../public/bg-bw.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding: 24px 56px;
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid var(--shadow);
    box-shadow: 0 4px 8px var(--box-shadow);
    color: var(--background);
    text-shadow: 0px 0px 2px var(--shadow);

    h2 {
        color: var(--background);
        text-shadow: 0px 0px 2px var(--shadow);
    }

    @media screen and (max-width: 600px) {
        margin: 24px 0;
        padding: 12px 24px;
    }
}

.hexagramTextWrapper {
    > div > div {
        border: 1px solid var(--background);
        background-color: transparent;
    }
}
