.hero {
    color: var(--primary);
    margin: 0 auto;
    padding: 72px 0 48px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../public/banner.jpg);
    background-size: cover;
    background-position: top center;

    @media screen and (max-width: 600px) {
        padding: 196px 24px 48px 24px !important;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0;
    padding: 0 24px;
}

.hero__title {
    font-family: "ZCOOL XiaoWei", serif;
}

.hero h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 16px;
    color: var(--background);
    text-shadow: 0px 0px 2px var(--shadow);

    @media screen and (max-width: 600px) {
        font-size: 3rem;
    }
}

.hero h3 {
    padding: 24px;
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    color: var(--background);
    text-shadow: 0px 0px 2px var(--shadow);
}

.hero p {
    font-size: 1.2rem;
    margin: 0;
    color: var(--background);
    text-shadow: 0px 0px 2px var(--shadow);
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 36px auto;
}

.featureBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 190px;
    max-width: 190px;
    min-height: 112px;
    max-height: 112px;
    background-color: var(--background);
    justify-content: space-between;
    padding: 24px;
    border: 1px solid var(--shadow);
    box-shadow: 0 4px 8px var(--box-shadow);
    border-radius: 8px;
    flex-wrap: wrap;
}

.featureBox h1 {
    font-family: "ZCOOL XiaoWei", serif;
    margin: 0;
    font-size: 1.2rem;
    color: var(--shadow);
    text-shadow: none;
}

.featureBox p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--shadow);
    text-shadow: none;
}

.featureBox svg {
    width: 32px;
    height: 32px;
    color: var(--highlight);
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    background-color: var(--highlight);
    color: var(--white);
    border: 1px solid var(--shadow);
    text-shadow: 0px 0px 2px var(--shadow);
    padding: 12px 24px;
    font-size: 1.25rem;
    border-radius: 4px;
    cursor: pointer;
    width: 256px;
    height: 56px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--primary);
        color: var(--white);
        text-shadow: none;

        svg {
            color: var(--white);
        }
    }

    svg {
        width: 18px;
        height: 18px;
        color: var(--white);
    }
}
