.profileContainer {
    line-height: 1.5;
    padding: 8px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../../public/bg-bw.jpg);
    background-size: cover;
    background-position: top center;

    h1 {
        color: var(--background);
        text-align: center;
    }

    h2 {
        color: var(--shadow);
        text-align: left;
    }

    p {
        text-align: justify;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.profileHeader {
    h1 {
        margin: 0;
        font-size: 6rem;

        @media screen and (max-width: 600px) {
            font-size: 3rem;
        }
    }

    margin: 56px 0;
}

.profileContent {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 48px;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;

    h3 {
        font-size: 1.6rem;
        color: var(--primary);
        margin: 0;
    }

    p {
        margin: 16px 0 24px 0;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    > div {
        max-width: 1080px; /* Ensures child divs span full width */
    }
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 0;
    padding: 0;

    p,
    strong {
        margin: 0;
    }
}
