.aboutWrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../../public/bg-bw.jpg);
    background-size: cover;
    background-position: top center;
}

.aboutContainer {
    line-height: 1.5;
    padding: 8px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    h2 {
        font-family: "ZCOOL XiaoWei", serif;
        color: var(--shadow);
        text-align: left;
    }

    p {
        text-align: justify;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.aboutSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.aboutTitle {
    display: flex;
    align-items: center;
    gap: 18px;
}

.aboutHeader {
    color: var(--background);
    text-shadow: 0px 0px 2px var(--shadow);

    h1 {
        margin: 0;
        font-size: 6rem;
        font-family: "ZCOOL XiaoWei", serif;

        @media screen and (max-width: 600px) {
            font-size: 3rem;
        }
    }

    margin: 56px 0;
}

.cardWithBackground {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../../../../public/bg-bw.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid var(--shadow);
    box-shadow: 0 4px 8px var(--box-shadow);
    color: var(--background);
    text-shadow: 0px 0px 2px var(--shadow);

    position: relative;
    overflow: hidden;

    h2 {
        color: var(--background);
        text-shadow: 0px 0px 2px var(--shadow);
    }

    @media screen and (max-width: 600px) {
        margin: 24px 0;
        padding: 12px 24px;
    }
}

.cardWithBackgroundContent {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 24px 56px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;

    @media screen and (max-width: 600px) {
        margin: 24px 0;
        padding: 12px 24px;
    }
}

.aboutContent {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 48px;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;

    h3 {
        font-size: 1.6rem;
        color: var(--primary);
        margin: 0;
    }

    p {
        margin: 16px 0 24px 0;
    }

    @media screen and (max-width: 600px) {
        padding: 24px;
        flex-direction: column;
    }

    > div {
        max-width: 1080px; /* Ensures child divs span full width */
    }
}
