:root {
  --background: #fbfaf7;
  --primary: #181818;
  --secondary: #eae7da;
  --highlight: #9b7617;
  --shadow: #575756;
  --white: #ffffff;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

html,
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--primary);
  background-color: var(--secondary);
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

h2 {
  color: var(--highlight);
}

.content {
  margin-top: 86px;
  margin-bottom: 86px;
}
