.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background);
    color: var(--primary);
    padding: 8px 16px;
    border-radius: 8px;
    gap: 18px;

    img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }

    h1 {
        font-size: 24px;
        text-align: center;
        word-break: break-word;
    }

    h3 {
        font-size: 14px;
        font-weight: 400;
        color: var(--shadow);
        margin: 0;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        gap: 0;

        h1 {
            font-size: 1.8rem;
        }
    }
}

.header__title {
    font-family: "ZCOOL XiaoWei", serif;
}
