.mainLayout {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16;
  flex-wrap: wrap;
  padding: 48px;

  h3 {
    font-size: 1.6rem;
    color: var(--primary);
    margin: 0;
  }

  p {
    margin: 16px 0 24px 0;
  }

  @media screen and (max-width: 600px) {
    max-width: 100%;
    flex-wrap: nowrap;
  }
}

.resultsLayout {
  margin: auto;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 24px;

  @media screen and (max-width: 600px) {
    width: 90%;
    flex-direction: column;
    margin: auto;
  }
}

.hexagramTextContainer {
  padding: 10px 0 0 24px;
  min-width: 0;
  width: 100%;
  border-left: 1px solid var(--shadow);
  content: "";
  display: block;

  &:empty {
    border-left: none;
  }

  @media screen and (max-width: 600px) {
    padding: 8px 0 0 0;
    border-left: none;
  }
}

.responsiveBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;

  > div {
    width: 100%;

    button {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    width: 100% !important;
    justify-content: center !important;
    gap: 8px !important;
  }
}

.intention {
  width: 1080px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../public/bg.jpg);
  background-size: cover;
  background-position: center;
  color: var(--background);
  text-shadow: 0px 0px 2px var(--shadow);
  padding: 24px 0;

  @media screen and (max-width: 600px) {
    padding: 24px;
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24;
  width: 1080px;
  padding: 24px 0;

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tossMethod {
  width: 540px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../public/bg.jpg);
  background-size: cover;
  background-position: top center;
  color: var(--background);
  text-shadow: 0px 0px 2px var(--shadow);
  padding: 24px;

  @media screen and (max-width: 600px) {
    padding: 24px;
    width: 100%;
  }
}

.canvas {
  width: 540px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
